@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ifsc-green-50: #e8f5e9;
  --ifsc-green-100: #c8e6c9;
  --ifsc-green-200: #a5d6a7;
  --ifsc-green-300: #81c784;
  --ifsc-green-400: #66bb6a;
  --ifsc-green-500: #4caf50;
  --ifsc-green-600: #43a047;
  --ifsc-green-700: #388e3c;
  --ifsc-green-800: #2e7d32;
  --ifsc-green-900: #1b5e20;

  --ifsc-red-50: #ffebee;
  --ifsc-red-100: #ffcdd2;
  --ifsc-red-200: #ef9a9a;
  --ifsc-red-300: #e57373;
  --ifsc-red-400: #ef5350;
  --ifsc-red-500: #f44336;
  --ifsc-red-600: #e53935;
  --ifsc-red-700: #d32f2f;
  --ifsc-red-800: #c62828;
  --ifsc-red-900: #b71c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
